body {
  font-family: "Opens Sans", "Sans Serif";
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: auto;
}

header .green-line {
  background-color: #117050;
  height: 10px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header-left img {
  width: 72px;
  height: 72px;
}

.header-search form {
  display: flex;
}


.header-search input {
  font-size: 16px;
  padding: 12px 25px;
  border: 1px solid #999999;
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.header-search button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.header-search button img{
  width: 16px;
  height: 16px;
  margin-left: -60px;
}

.header-rigth{
  display: flex;
  align-items: center;
}

.header-menu{
  margin-left: 20px;

}
.header-menu img{
  width: 25px;
  height: 25px;
  cursor: pointer
}
